.grid-size-buttons {
    margin-bottom: 1rem;
}

.grid-size-buttons button {
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
}

.grid-size-buttons button.selected {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

.new-game-dialog .close-button {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Keep the pointer cursor */
    font-size: 1.3rem; /* Make the cross larger */
    background: none; /* Remove background */
    border: none; /* Remove border */
    color: #333; /* Set a suitable color */
    position: absolute; /* Position it */
    top: 10px; /* Adjust positioning */
    right: 10px;
}

.new-game-dialog .close-button:hover {
    color: #ff0000; /* Optional: Change color on hover */
}

.text-to-image-generator .close-button:hover{
    color: #ff0000; /* Optional: Change color on hover */
}

.text-to-image-generator .close-button {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Keep the pointer cursor */
    font-size: 1.3rem; /* Make the cross larger */
    background: none; /* Remove background */
    border: none; /* Remove border */
    color: #333; /* Set a suitable color */
    position: absolute; /* Position it */
    top: 10px; /* Adjust positioning */
    right: 10px;
}

.info-icon-button i {
    font-size: 1.5rem; /* Adjust icon size */
    color: #000;
}

.start-game-button {
    background-color: #4caf50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer cursor on hover */
    margin-left: 0;
}

.start-game-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.header button.mute {
    background-color: red;
    color: white;
}