/* Reset body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;
}

.game-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board-wrapper {
    width: 100vw;
    height: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #acd3f3;
}
.game-board {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    background-color: #f0f0f0;

}

.puzzle-container-border {
    position: absolute;
    left: var(--offsetX);
    top: var(--offsetY);
    width: var(--puzzleWidth);
    height: var(--puzzleHeight);
    border: 2px solid #83d5b5;
    box-sizing: border-box;
    pointer-events: none; /* don't block drag events */
    box-shadow: 0 0 0.2rem rgba(0, 255, 153, 0.69), 0 0 0.4rem rgba(0, 255, 153, 0.76), 0 0 0.6rem rgba(0, 255, 153, 0.94);
    z-index: 0;
}
